<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/salesforce-lightning-design-system-2.3.2/assets/styles/salesforce-lightning-design-system.min.css"
        rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <script src="https:/unpkg.com/vue"></script>
</head>

<body>

    <div id="container">

        <!-- Animated icon in navBar -->
        <div class="slds-context-bar">
            <div class="slds-context-bar__primary slds-context-bar__item_divider-right">
                <div class="slds-context-bar__item slds-context-bar__dropdown-trigger slds-dropdown-trigger slds-dropdown-trigger_click slds-no-hover slds-context-bar__item_divider-right">
                    <div class="slds-context-bar__icon-action slds-context-bar__item_divider-right">
                        <button class="slds-button slds-icon-waffle_container slds-context-bar__button" title="Description of the icon when needed">
                            <span class="slds-icon-waffle">
                              <span class="slds-r1"></span>
                              <span class="slds-r2"></span>
                              <span class="slds-r3"></span>
                              <span class="slds-r4"></span>
                              <span class="slds-r5"></span>
                              <span class="slds-r6"></span>
                              <span class="slds-r7"></span>
                              <span class="slds-r8"></span>
                              <span class="slds-r9"></span>
                            </span>
                            <span class="slds-assistive-text">Open App Launcher</span>
                          </button>
                    </div>
                    <span class="slds-context-bar__label-action slds-context-bar__app-name">
                          <span class="slds-truncate"><img src="assets/images/mapAnything.png"></span>
                    </span>
                </div>
            </div>
        </div>

        <!-- Banner section -->
        <div class="banner">
            <h1 class="slds-text-heading_large">Fleet Status</h1>
            <p class="slds-text-heading_medium">Toggle Parameters and Gain Insight</p>
        </div>

        <!-- Container for Vue -->
        <div id="vue-app" class="vue-container">
            <div v-model="loading" v-if="this.loading===true" class="demo-only" style="height: 6rem;">
                <div role="status" class="slds-spinner slds-spinner_large">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>

            <div id="flexSearch">
                <!-- Drop down for region selection -->
                <div class="slds-form-element search">
                    <label class="slds-form-element__label" for="select-01">Vehicle Region</label>
                    <div class="slds-form-element__control">
                        <div class="slds-select_container">
                            <select v-model="selected" class="slds-select" id="select-01">
                                  <option v-for="item in getRegions" :value="item">{{item}}</option>
                                  
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Search box for rule selection -->
                <div class="slds-form-element search">
                    <label class="slds-form-element__label" for="text-input-id-1">Vehicle Rules</label>
                    <div class="slds-form-element__control">
                        <input type="text" v-model="search" id="text-input-id-1" class="slds-input" placeholder="Excessive speeding">
                    </div>
                </div>
            </div>



            <!-- Card showing vehicles in inventory -->
            <!-- Section loops through vehicles array in data object if region or Show All is selected from drop down -->

            <article v-for="vehicle in filteredVehicles" v-if="vehicle.Region==selected || selected === 'Show All'" id="vue-app" class="slds-card"
                v-bind:class="{ inactive: !vehicle.Active }">
                <!-- Looping through each vehicle in inventory -->
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <span class="slds-icon_container slds-icon-standard-contact" title="description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
                                </svg>
                              </span>
                        </div>
                        <div class="slds-media__body">
                            <h1>{{vehicle.name}}</h1>
                            <p>{{vehicle.rule}} :: {{ vehicle.Region }}</p>
                        </div>
                    </header>

                    <!-- Toggle for each rule -->
                    <div id="ruleToggle" class="demo-only slds-size_1-of-2">
                        <div class="slds-form-element">
                            <label class="slds-checkbox_toggle slds-grid">
                    
                                    <input v-on:click="ruleToggle(vehicle)" type="checkbox" v-model="vehicle.Active" name="checkbox" aria-describedby="toggle-desc" value="on">
                                    <span id="toggle-desc" class="slds-checkbox_faux_container" aria-live="assertive">
                                        <span class="slds-checkbox_faux"></span>
                                        <span class="slds-checkbox_on">Deactivate</span>
                                        <span class="slds-checkbox_off">Activate</span>
                                    </span>
                                </label>
                        </div>
                    </div>
                </div>
            </article>
            <div id="vue-app" class="formToggles">
                <button v-on:click="refresh" id="refresh" class="slds-button ">Refresh</button>
            </div>
        </div>
    </div>

    <script src="assets/js/app.js"></script>
</body>

</html>